.color-letra-footer {
    color: rgb(190, 182, 182);
}

.color-fondo-footer {
    background-color: rgb(27, 27, 27);
}

.color-fondo-contraste-footer {
    background-color: rgb(51, 51, 51);
}

.color-seleccion-footer {
    background-color: rgb(99, 98, 98);
}

.color-dorado-lol {
    background-color: #d09c3c;
}

.color-dorado-palido-lol {
    background-color: #c4a161;
}